<section class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Purchase Confirmation</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione aperiam pariatur harum</p>
        <ol class="breadcrumb mt-20">
          <li><a href="#">Home</a></li>
          <li class="active">Checkout</li>
          <li class="active">Purchase Confirmation</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<div class="page-wrapper">
  <div class="purchase-confirmation shopping">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="block bg-shadow">
            <div class="purchase-confirmation-details">
            <table id="edd_purchase_receipt" class="table">
                <thead>

                  <tr>
                    <th><strong>Payment:</strong></th>
                    <th>33056</th>
                  </tr>
                </thead>

                <tbody>

                  <tr>
                    <td class="edd_receipt_payment_status"><strong>Payment Status:</strong></td>
                    <td class="edd_receipt_payment_status complete">Complete</td>
                  </tr>


                  <tr>
                    <td><strong>Payment Method:</strong></td>
                    <td>Free Purchase</td>
                  </tr>
                  <tr>
                    <td><strong>Date:</strong></td>
                    <td>December 20, 2016</td>
                  </tr>





                  <tr>
                    <td><strong>Subtotal</strong></td>
                    <td>
                      $18.00        </td>
                    </tr>

                    <tr>
                      <td><strong>Total Price:</strong></td>
                      <td>$18.00</td>
                    </tr>


                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
