
// Variables
$light: #fff;
$primary-color: #F8B412;
$secondary-color: #1bbb1b;
$black: #000;
$alert:#c7254e;
$primary-font:'Raleway', sans-serif;
$secondary-font:'Lora', serif;
$open-sans: 'Open Sans', sans-serif;
$tf-font: 'themefisher-font';
$montserrat: 'Montserrat', sans-serif;