<section class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Blog Single</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione aperiam pariatur harum</p>
        <ol class="breadcrumb mt-20">
          <li><a href="#">Home</a></li>
          <li><a href="">Blog</a></li>
          <li class="active">Single Post</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<div class="page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				@@include('parts/blog/blog-post-single.htm')
			</div>
		</div>
	</div>
</div>