<section class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Blog</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione aperiam pariatur harum</p>
        <ol class="breadcrumb mt-20">
          <li><a href="#">Home</a></li>
          <li class="active">Blog</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<div class="page-wrapper">
	<div class="container">
		<div class="row">
      <div class="col-md-4">
        @@include('parts/blog/post-sidebar.htm')
      </div>
			<div class="col-md-8">
        @@include('parts/blog/blog-posts.htm')
      </div>
    </div>
	</div>
</div>