<!-- 
  Fixed Navigation
  ==================================== -->
  <header class="navigation navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <!-- responsive nav button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- /responsive nav button -->

        <!-- logo -->
        <a class="navbar-brand logo" href="index.html">
          <img src="images/logo.png" alt="">
        </a>
        <!-- /logo -->
      </div>

      <!-- main nav -->
      <nav class="collapse navbar-collapse navbar-right">
        <ul id="nav" class="nav navbar-nav menu">
          <li class="current"><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="pricing.html">Pricing</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="blog-full-width.html">Full Width</a></li>
              <li><a href="blog-grid.html">Grid</a></li>
              <li><a href="blog-left-sidebar.html">Left Sidebar</a></li>
              <li><a href="blog-right-sidebar.html">Right Sidebar</a></li>
              <li><a href="blog-single.html">Blog Post</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="cart.html">Cart</a></li>
              <li><a href="empty-cart.html">Empty Cart</a></li>
              <li><a href="checkout.html">Checkout</a></li>
              <li><a href="purchase-confirmation.html">Purchase Confirmation</a></li>
              <li><a href="login.html">Login</a></li>
              <li><a href="signup.html">Signup</a></li>
              <li><a href="forget-password.html">Forget Password</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /main nav -->

    </div>
  </header>
  <!--
  End Fixed Navigation
  ==================================== -->