<!-- Start Portfolio Section
		=========================================== -->
		
		<section class="portfolio" id="portfolio">
			<div class="container-fluid">
				<div class="row " >
					<div class="col-lg-12">
					
						<!-- section title -->
						<div class="title text-center">
							<h2>Our <span class="color">Works</span></h2>
							<div class="border"></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, veritatis.</p>
						</div>
						<!-- /section title -->

						<div class="portfolio-filter">
							<ul>
								<li class="filter" data-filter="all">Show All</li>
								<li class="filter" data-filter=".photography">Photoraphy</li>
								<li class="filter" data-filter=".design">Design</li>
							</ul>
						</div>
					
						<div id="portfolio-items-wrapper">
							<div class="row">
								<div class="col-md-3 col-sm-6 col-xs-6 mix photography" >
							    	<div class="portfolio-block">
							    		<img class="img-responsive" src="images/portfolio/portfolio-1.jpg" alt="">
							    		<div class="caption">
							    			<a class="search-icon" href="images/portfolio/portfolio-1.jpg" data-lightbox="image-1">
							    				<i class="tf-search"></i>
								    		</a>
							    			<h4><a href="">AirBnB Postcard</a></h4>
							    		</div>
							    	</div>
							    </div>
							    <div class="col-md-3 col-sm-6 col-xs-6 mix photography" >
							    	<div class="portfolio-block">
								    	<img class="img-responsive" src="images/portfolio/portfolio-2.jpg" alt="">
							    		<div class="caption">
							    			<a class="search-icon" href="images/portfolio/portfolio-1.jpg" data-lightbox="image-1">
							    				<i class="tf-search"></i>
								    		</a>
							    			<h4><a href="">AirBnB Postcard</a></h4>
							    		</div>
							    	</div>
							    </div>
							    <div class="col-md-3 col-sm-6 col-xs-6 mix photography" >
							    	<div class="portfolio-block">
								    	<img class="img-responsive" src="images/portfolio/portfolio-3.jpg" alt="">
							    		<div class="caption">
							    			<a class="search-icon" href="images/portfolio/portfolio-1.jpg" data-lightbox="image-1">
							    				<i class="tf-search"></i>
								    		</a>
							    			<h4><a href="">AirBnB Postcard</a></h4>
							    		</div>
							    	</div>
							    </div>
							    <div class="col-md-3 col-sm-6 col-xs-6 mix photography" >
							    	<div class="portfolio-block">
								    	<img class="img-responsive" src="images/portfolio/portfolio-4.jpg" alt="">
							    		<div class="caption">
							    			<a class="search-icon" href="images/portfolio/portfolio-1.jpg" data-lightbox="image-1">
							    				<i class="tf-search"></i>
								    		</a>
							    			<h4><a href="">AirBnB Postcard</a></h4>
							    		</div>
							    	</div>
							    </div>
							    <div class="col-md-3 col-sm-6 col-xs-6 mix design">
							    	<div class="portfolio-block">
								    	<img class="img-responsive" src="images/portfolio/portfolio-5.jpg" alt="">
							    		<div class="caption">
							    			<a class="search-icon" href="images/portfolio/portfolio-1.jpg" data-lightbox="image-1">
							    				<i class="tf-search"></i>
								    		</a>
							    			<h4><a href="">AirBnB Postcard</a></h4>
							    		</div>
							    	</div>
							    </div>
							    <div class="col-md-3 col-sm-6 col-xs-6 mix design">
							    	<div class="portfolio-block">
								    	<img class="img-responsive" src="images/portfolio/portfolio-6.jpg" alt="">
							    		<div class="caption">
							    			<a class="search-icon" href="images/portfolio/portfolio-1.jpg" data-lightbox="image-1">
							    				<i class="tf-search"></i>
								    		</a>
							    			<h4><a href="">AirBnB Postcard</a></h4>
							    		</div>
							    	</div>
							    </div>
							    <div class="col-md-3 col-sm-6 col-xs-6 mix design">
							    	<div class="portfolio-block">
								    	<img class="img-responsive" src="images/portfolio/portfolio-7.jpg" alt="">
							    		<div class="caption">
							    			<a class="search-icon" href="images/portfolio/portfolio-1.jpg" data-lightbox="image-1">
							    				<i class="tf-search"></i>
								    		</a>
							    			<h4><a href="">AirBnB Postcard</a></h4>
							    		</div>
							    	</div>
							    </div>
							    <div class="col-md-3 col-sm-6 col-xs-6 mix design">
							    	<div class="portfolio-block">
								    	<img class="img-responsive" src="images/portfolio/portfolio-1.jpg" alt="">
							    		<div class="caption">
							    			<a class="search-icon" href="images/portfolio/portfolio-1.jpg" data-lightbox="image-1">
							    				<i class="tf-search"></i>
								    		</a>
							    			<h4><a href="">AirBnB Postcard</a></h4>
							    		</div>
							    	</div>
							    </div>
							</div>
						</div>
						
					</div> <!-- /end col-lg-12 -->
				</div> <!-- end row -->
			</div>	<!-- end container -->
		</section>   <!-- End section -->