<!--
Start About Section
==================================== -->
<section class="service-2 section">
  <div class="container">
    <div class="row text-center">
      <!-- section title -->
        <div class="title text-center" >
          <h2>Amazing Features</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <!-- /section title -->

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-item">
            <i class="tf-ion-ios-alarm-outline"></i>
            <h4>Time Management</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis.</p>
          </div>
        </div><!-- END COL -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-item">
            <i class="tf-ion-ios-albums-outline"></i>
            <h4>Marketing Ideas</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis.</p>
          </div>
        </div><!-- END COL -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-item">
            <i class="tf-ion-ios-analytics-outline"></i>
            <h4>Mail Support</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis.</p>
          </div>
        </div><!-- END COL -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-item">
            <i class="tf-ion-ios-bell-outline"></i>
            <h4>System Alert</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis.</p>
          </div>
        </div><!-- END COL -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-item">
            <i class="tf-ion-ios-cart-outline"></i>
            <h4>Shopping System</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis.</p>
          </div>
        </div><!-- END COL -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-item">
            <i class="tf-ion-ios-chatbubble-outline"></i>
            <h4>24/7 Support</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis.</p>
          </div>
        </div><!-- END COL -->
    </div>
  </div>    <!-- End container -->
</section>   <!-- End section -->